@attribute [Route(Routes.RandomWalkers)]
@inject IJSRuntime jsRuntime
@implements IAsyncDisposable
@namespace Recreate.Web


<div class="random-walkers">
    <h2>Random Walkers</h2>
    <div>
        <p>
            Click with your mouse inside the rectangle and drag around to add particles and watch them spread in different directions,
            click on Pause to stop the particles movement or resume it, and click Clear to clear the screen.
            You can choose different types of movements for the particles using the select menu.
        </p>
    </div>

    <div class="buttons">
        <select @onchange="(e)=>{mCurrentMethod = e.Value switch{
            nameof(RandomMethod)=> RandomMethod,
            nameof(GracefulMethod)=> GracefulMethod,
            nameof(DiscoMethod)=> DiscoMethod,
            nameof(LightsBrightMethod)=> LightsBrightMethod,
            nameof(SpiralMethod)=> SpiralMethod,
            _ => throw new NotImplementedException()
            };
        }">

            <option value="@nameof(RandomMethod)">Random</option>
            <option value="@nameof(GracefulMethod)">Graceful</option>
            <option value="@nameof(DiscoMethod)">Disco</option>
            <option value="@nameof(LightsBrightMethod)">Bright Lights</option>
            <option value="@nameof(SpiralMethod)">Spiral</option>
        </select>
        <button @onclick="PauseResume" class="button @(mRunning ? "button-accent":"button-primary")">
            @(mRunning ? "Pause" : "Resume")
        </button>
        <button @onclick="ClearPoints" class="button button-secondary">
            Clear
        </button>
    </div>

    <canvas width="@CanvasWidth"
            height="@CanvasHeight"
            id="random-walkers-canvas"
            @onmousedown="(e)=>{StartAdding((uint)e.OffsetX,(uint)e.OffsetY);}"
            @onmouseup="(e)=>{StopAdding();}"
            @onmousemove="(e)=>{ if(mAddingEnabled) ChangedPosition((uint)e.OffsetX,(uint)e.OffsetY);}"
            @onmouseleave="(e)=>{StopAdding();}">
    </canvas>
</div>