@namespace Recreate.Web

<nav>
    <div class="logo" onclick="(()=>{window.location.href='@(Routes.RoutePrefix + Routes.Home)';})()">Recreate</div>

    <NavLink href="@(Routes.RoutePrefix + Routes.Home)" Match="NavLinkMatch.All">
        <svg width="15px" height="15px" viewBox="-1 0 19 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill-rule="evenodd">
                <g id="Dribbble-Light-Preview" transform="translate(-341.000000, -720.000000)">
                    <g id="icons" transform="translate(56.000000, 160.000000)">
                        <path d="M299.875,576.21213 C299.875,576.76413 299.399,577.00013 298.8125,577.00013 L297.75,577.00013 C297.1635,577.00013 296.6875,576.76413 296.6875,576.21213 L296.6875,575.21213 C296.6875,574.10713 295.736562,573.00013 294.5625,573.00013 L292.4375,573.00013 C291.263438,573.00013 290.3125,574.10713 290.3125,575.21213 L290.3125,576.21213 C290.3125,576.76413 289.8365,577.00013 289.25,577.00013 L288.1875,577.00013 C287.601,577.00013 287.125,576.76413 287.125,576.21213 L287.125,568.14913 C287.125,568.01613 287.181312,567.88913 287.280125,567.79513 L292.738188,562.65913 C293.153625,562.26813 293.826188,562.26813 294.240563,562.65913 L299.719875,567.81513 C299.818688,567.90913 299.875,568.03613 299.875,568.16813 L299.875,576.21213 Z M302,567.62513 C302,567.36013 301.888438,567.10713 301.690812,566.91913 L294.998125,560.58913 C294.169375,559.80613 292.823188,559.80313 291.99125,560.58313 L285.312375,566.84813 C285.112625,567.03613 285,567.29013 285,567.55613 L285,577.21213 C285,578.31713 285.950938,579.00013 287.125,579.00013 L290.3125,579.00013 C291.486562,579.00013 292.4375,578.31713 292.4375,577.21213 L292.4375,576.21213 C292.4375,575.66013 292.9135,575.21213 293.5,575.21213 C294.0865,575.21213 294.5625,575.66013 294.5625,576.21213 L294.5625,577.21213 C294.5625,578.31713 295.513438,579.00013 296.6875,579.00013 L299.875,579.00013 C301.049062,579.00013 302,578.31713 302,577.21213 L302,567.62513 Z" id="home-[#1393]">
                        </path>
                    </g>
                </g>
            </g>
        </svg>
        <span>Home</span>
    </NavLink>
    <NavLink href="@(Routes.RoutePrefix + Routes.RandomWalkers)">
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             width="14px" height="14px" viewBox="0 0 29.894 29.895"
             xml:space="preserve">
        <g>
                <g>
                <g id="Icons_7_">
                <g>
                <path d="M14.308,13.048c0.355,0.35,0.924,0.35,1.28,0c1.22-1.203,3.813-3.803,4.451-4.792c0.908-1.406,1.812-2.566,1.812-4.591
					        S20.211,0,18.186,0c-1.416,0-2.63,0.812-3.24,1.987C14.336,0.812,13.123,0,11.707,0C9.682,0,8.042,1.64,8.042,3.665
					        S8.947,6.85,9.854,8.256C10.495,9.244,13.088,11.845,14.308,13.048z" />
                <path d="M15.587,16.848c-0.355-0.351-0.925-0.351-1.28,0c-1.22,1.202-3.813,3.804-4.452,4.791
					        c-0.907,1.406-1.813,2.566-1.813,4.593c0,2.023,1.64,3.663,3.665,3.663c1.416,0,2.63-0.812,3.24-1.985
					        c0.611,1.175,1.824,1.985,3.24,1.985c2.024,0,3.665-1.64,3.665-3.663c0-2.025-0.904-3.187-1.812-4.593
					        C19.402,20.65,16.807,18.049,15.587,16.848z" />
                <path d="M27.908,14.947c1.174-0.61,1.985-1.824,1.985-3.24c0-2.025-1.64-3.665-3.664-3.666c-2.024,0-3.186,0.906-4.592,1.813
					        c-0.987,0.639-3.59,3.232-4.792,4.452c-0.351,0.355-0.351,0.924,0,1.279c1.202,1.22,3.805,3.813,4.792,4.453
					        c1.406,0.907,2.566,1.812,4.592,1.812c2.023,0,3.664-1.642,3.664-3.666C29.896,16.771,29.083,15.557,27.908,14.947z" />
                <path d="M13.048,15.587c0.35-0.354,0.35-0.925,0-1.28c-1.203-1.22-3.804-3.813-4.792-4.452C6.851,8.948,5.69,8.042,3.667,8.042
					        c-2.025,0-3.665,1.641-3.665,3.666c0,1.416,0.813,2.63,1.987,3.24c-1.175,0.61-1.987,1.823-1.987,3.239
					        c0,2.023,1.64,3.663,3.665,3.665c2.024,0,3.185-0.905,4.59-1.812C9.245,19.4,11.845,16.807,13.048,15.587z" />
                    </g>
                </g>
            </g>
        </g>
        </svg>
        <span>Random Walkers</span>
    </NavLink>

    <NavLink href="@(Routes.RoutePrefix + Routes.Boids)">
        <svg width="15" height="15" viewBox="0 0 147 147" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.943694 0.931565L146.653 58.7653L73.4811 73.5189L58.7775 146.641L0.943694 0.931565Z" />
        </svg>
        <span>Boids</span>
    </NavLink>
    <NavLink href="@(Routes.RoutePrefix + Routes.Credits)">
        <svg width="15" height="15" viewBox="0 0 634 641" xmlns="http://www.w3.org/2000/svg">
            <path d="M517 17.0003C572.23 17.0003 617 61.7717 617 117V188.429C617 199.566 617 205.135 614.447 209.201C613.113 211.321 611.32 213.113 609.2 214.445C605.133 217 599.567 217 588.43 217H417M517 17.0003C461.77 17.0003 417 61.7717 417 117V217M517 17.0003H150.333C87.4793 17.0003 56.0523 17.0003 36.5263 36.5263C17 56.0527 17 87.4797 17 150.334V617L117 583.667L217 617L317 583.667L417 617V217" stroke="#222222" stroke-width="33.3333" />
            <path d="M150.333 150.333H283.667" stroke="#222222" stroke-width="33.3333" stroke-linecap="round" />
            <path d="M183.667 283.667H150.333" stroke="#222222" stroke-width="33.3333" stroke-linecap="round" />
            <path d="M150.333 417H250.333" stroke="#222222" stroke-width="33.3333" stroke-linecap="round" />
        </svg>
        <span>Credits</span>
    </NavLink>
</nav>